/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

 * {
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  
  body {
    background: linear-gradient(#ffffff, #c0c0c0);
    height: 140vh;
    padding: 0;
    margin: 0;
    width: 100vw;
  }

  nav {
    align-items: center;
    background-color: #333333;
    color: #c0c0c0;
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
  }

  nav a {
    text-decoration: none;
    color: #c0c0c0;
    margin: 10px;
  }
  
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .allStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .allCampuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .individualStudent {
    border: 5px double springgreen;
    background-color: lightskyblue;
    width: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .individualCampus {
    border: 5px double springgreen;
    background-color: lightskyblue;
    width: 300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .studentImg{
    height: 200px;
    width: 250px;
  }

  .campusImg{
    height: 200px;
    width: 250px;
  }

  .singleCampus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .singleStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .singleCampusImg {
   height: 400px;
   width: 500px;
  }

  .singleStudentImg {
    height: 400px;
    width: 500px;
   }

   .attendingStudent a {
    text-decoration: none;
    color: black;
    margin: 8px;
    padding: 3px;
    border: 3px dashed lightskyblue;
    border-radius: 6px;
   }

   .attendedCampus a {
    text-decoration: none;
    color: black;
    margin: 8px;
    padding: 3px;
    border: 3px dashed lightskyblue;
    border-radius: 6px;
   }

   .addCampus {
    margin: 10px;
    display: flex;
    justify-content: center;
   }

   .addStudent {
    margin: 10px;
    display: flex;
    justify-content: center;
   }

   .addCampus label {
    margin: 5px;
   }

   .addStudent label {
    margin: 5px;
   }

   .addCampus button {
    margin: 5px;
    border-radius: 6px;
    background-color: lightskyblue;
   }

   .addStudent button {
    margin: 5px;
    border-radius: 6px;
    background-color: lightskyblue;
   }
   
   .xButton {
    margin: 3px;
    border-radius: 6px;
    background-color: springgreen;
   }